{{!--{{#with htmlWebpackPlugin.options}}--}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{iftrue T T htmlWebpackPlugin.options.pageData.T}}</title>
  <meta name="description" content="{{iftrue D D htmlWebpackPlugin.options.pageData.D}}" />
  <meta name="keywords" content="{{iftrue K K htmlWebpackPlugin.options.pageData.K}}" />
  {{{meta}}}
  {{{iftrue topStyle topStyle htmlWebpackPlugin.options.pageData.topStyle}}}
</head>
<body>
  {{> @partial-block }}
  {{{bottomScript}}}
  {{!--{{#each htmlWebpackPlugin.files.js}}--}}
{{!--compilation.assets[this.substr(htmlWebpackPlugin.files.publicPath.length)].source()--}}
{{!--<script>{{{injectCurrentPageChunk compilation htmlWebpackPlugin}}}</script>--}}
{{!--{{/each}}--}}
  <script type="text/javascript" src="http://dc.100bt.com/js/dc.js"></script>
  <script type="text/javascript" src="http://www.100bt.com/resource/js/lib/bdStatistic.js"></script>
</body>
</html>
{{!--{{/with}}--}}