{{!--{{#extend "frame"}}
    {{#content "topStyle"}}
        <link rel="stylesheet" href="{{data.destPath}}style/index.css?v={{data.commonVersion}}" />
    {{/content}}
    {{#content "bottomScript"}}
       <script type="text/javascript" src="{{data.destPath}}script/index.js?v={{data.commonVersion}}"></script>
    {{/content}}
    {{#content "mainContent"}}
     <div class="sidebar sidebar_bg">
     <span class="sidebar__item sidebar__item__1"><a href="{{data.downloadLink}}" target="_blank" class="statisticBtn a"  stname="down"></a></span>
     <span class="sidebar__item sidebar__item__2"><a href="{{data.aola}}" target="_blank" class="a"></a></span>
     <span class="sidebar__item sidebar__item__3"><a href="{{data.aolaQQ}}" target="_blank" class="a"></a></span>
     <span class="sidebar__item sidebar__item__4"><span class="a"><span class="wshare"></span></span></span>
     <span class="sidebar__item sidebar__item__5"><a href="#" class="a"></a></span>
    </div>
    {{/content}}
{{/extend}}--}}
hello sub